<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'website/css/footer.css' %}">
</head>
<body>
    <footer class="site-footer">

    <div class="footer-container">

        <div class="footer-brand">

            <a href="/" class="logo">
                <span class="logo-icon">B</span>

                <div>
                    <strong>BOOKLY</strong>
                    <small>Read. Discover. Grow.</small>
                </div>
            </a>

            <p>
                Discover books that inspire,
                educate and stay with you.
            </p>

            <div class="socials">
                <a href="#">f</a>
                <a href="#">𝕏</a>
                <a href="#">◎</a>
                <a href="#">in</a>
            </div>

        </div>


        <div class="footer-links">
            <h4>Explore</h4>
            <a href="#">Books</a>
            <a href="#">Categories</a>
            <a href="#">Best Sellers</a>
            <a href="#">New Arrivals</a>
            <a href="#">Authors</a>
        </div>


        <div class="footer-links">
            <h4>Customer</h4>
            <a href="#">My Account</a>
            <a href="#">My Orders</a>
            <a href="#">Wishlist</a>
            <a href="#">Shipping</a>
            <a href="#">Returns</a>
        </div>


        <div class="footer-links">
            <h4>Company</h4>
            <a href="#">About Us</a>
            <a href="#">Contact</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms</a>
            <a href="#">FAQ</a>
        </div>


        <div class="footer-links">
            <h4>Get in touch</h4>
            <p>✉ hello@bookly.com</p>
            <p>☎ +95 9 123 456 789</p>
            <p>📍 Yangon, Myanmar</p>
        </div>

    </div>


    <div class="footer-bottom">
        <p>© 2026 Bookly. All rights reserved.</p>
        <p>Made for book lovers. 📚</p>
    </div>

</footer>
</body>
</html>
