{% extends 'admin/base.html' %} {% load static %} {% block title %} Add Book
{%endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'admin/css/products.css' %}" />
{% endblock %} {% block content %}

<div class="page-header">
  <div>
    <h3>Add Book</h3>
    <p>Add a new book to your bookstore</p>
  </div>

  <a href="{% url 'book_lists' %}" class="btn btn-secondary">
    <i class="bi bi-arrow-left"></i>
    Back
  </a>
</div>

<div class="card shadow-sm">
  <div class="card-header">
    <h5>Book Information</h5>
  </div>

  <div class="card-body">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="row g-4">
        <!-- Book Cover -->

        <div class="col-md-6">
          <label class="form-label"> Book Cover </label>

          <input type="file" name="cover" class="form-control" accept="image/*" />
        </div>

        <!-- Book Title -->

        <div class="col-md-6">
          <label class="form-label"> Book Title </label>

          <input
            type="text"
            name="title"
            class="form-control"
            placeholder="Enter book title"
          />
        </div>

        <!-- Author -->

        <div class="col-md-6">
          <label class="form-label"> Author </label>

          <input
            type="text"
            name="author"
            class="form-control"
            placeholder="Enter author name"
          />
        </div>

        <!-- Category -->

        <div class="col-md-6">
          <label class="form-label"> Category </label>

          <select name="category" class="form-select" required>
            <option value="" selected disabled>Select Category</option>

            {% for category in categories %}

            <option value="{{ category.id }}">{{ category.name }}</option>

            {% empty %}

            <option value="" disabled>No categories available</option>

            {% endfor %}
          </select>
        </div>

        <!-- ISBN -->

        <div class="col-md-6">
          <label class="form-label"> ISBN </label>

          <input
            type="text"
            name="isbn"
            class="form-control"
            placeholder="Enter ISBN"
          />
        </div>

        <!-- Publisher -->

        <div class="col-md-6">
          <label class="form-label"> Publisher </label>

          <input
            type="text"
            name="publisher"
            class="form-control"
            placeholder="Enter publisher"
          />
        </div>

        <!-- Published Date -->

        <div class="col-md-6">
          <label class="form-label"> Published Date </label>

          <input type="date" name="publisher_date" class="form-control" />
        </div>

        <!-- Language -->

        <div class="col-md-6">
          <label class="form-label"> Language </label>

          <select name="language" class="form-select">
            <option selected>Select Language</option>

            <option>English</option>

            <option>Myanmar</option>

            <option>Other</option>
          </select>
        </div>

        <!-- Format -->

        <div class="col-md-6">
          <label class="form-label"> Format </label>

          <select name="format" class="form-select">
            <option selected>Select Format</option>

            <option value="Paperback">Paperback</option>

            <option value="Hardcover">Hardcover</option>

            <option value="EPUB">EPUB</option>

            <option value="PDF">PDF</option>
          </select>
        </div>

        <!-- Price -->

        <div class="col-md-6">
          <label class="form-label"> Price </label>

          <input
            type="number"
            name="price"
            class="form-control"
            placeholder="Enter price" required
            step="1" min="0"
          />
        </div>

        <!-- Stock -->

        <div class="col-md-6">
          <label class="form-label"> Stock </label>

          <input
            type="number"
            name="stock"
            class="form-control"
            placeholder="Enter stock quantity"
          />
        </div>

        <!-- Status -->

        <div class="col-md-6">
          <label class="form-label"> Status </label>

          <select name="status" class="form-select">
            <option value="active" selected>Active</option>

            <option value="inactive">Inactive</option>
          </select>
        </div>

        <!-- Home section -->
        <div class="form-group">
          <label class="form-label"> Home Page </label>

          <div>
            <label>
              <input type="checkbox" name="show_on_home" />

              Show this book on Home Page
            </label>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label"> Home Section </label>

          <select name="home_section" class="form-select">
            <option value="none">None</option>

            <option value="featured">Featured</option>

            <option value="best_seller">Best Seller</option>

            <option value="new_arrival">New Arrival</option>
          </select>
        </div>
        <!-- Description -->

        <div class="col-12">
          <label class="form-label"> Description </label>

          <textarea
            class="form-control"
            name="description"
            rows="5"
            placeholder="Enter book description"
          ></textarea>
        </div>

        <!-- Buttons -->

        <div class="col-12">
          <button type="submit" class="btn btn-primary">
            <i class="bi bi-check-circle"></i>
            Add Book
          </button>

          <a href="#" class="btn btn-secondary"> Cancel </a>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
